@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif; 
}
body{
    background-color: black;
}
main{
    height: 70vh;
    position: relative ;
    background-image: url(assets/images/Background_images.jpg);
    /* we cann't give the opacity with the image as it change the opacity of the image not the bg */
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat ;
}

.main .box{
    height: 70vh; 
    width: 100%;
    /* making a dommy box in background image and giving it opacity to add text as it make text visible  */
    opacity: 0.45  ;
    position: absolute;
    top: 0;      
    background-color: black; 
 }

nav {
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img{
    color: red;
    width:  114px;
    position: relative;
    z-index: 10; 
}

nav button {
    position: relative;
    z-index: 10; 
}


.hero{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 18px;
    padding: 30px;
}

.hero> :nth-child(1) {
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

