*{
    margin: 0;
    padding: 0;
}
main{
    height: 80vh;
    background-image: url(assets/images/Background_images.jpg);
}

main .box{
    height: 80vh;
    width: 100%;
    /* making a dommy box in background image and giving it opacity to add text as it make text visible  */
    opacity: 0.32;      
    background-color: black;
}