*{
    margin: 0;
    padding: 0;
}
main{
    height: 80vh;
    position: relative ;
    background-image: url(assets/images/Background_images.jpg);
    /* we cann't give the opacity with the image as it change the opacity of the image not the bg */
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat ;
}

main .box{
    height: 80vh; 
    width: 100%;
    /* making a dommy box in background image and giving it opacity to add text as it make text visible  */
    opacity: 0.44;
    position: absolute;
    top: 0;      
    background-color: black; 
 }

nav {
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}
